.input-wrapper {
  .input-type {
    border: var(--color-border);
    width: 100%;
    padding: 16px 45px 12px 20px;
    height: 46px;
    font-size: 13px;
    color: var(--color-text);
    box-sizing: border-box;
    outline: none;
  }
}
