.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .widget {
    width: 270px;
    margin-right: 15px;
  }

  .outlet-product {
    width: calc(100% - 300px);
    margin-left: 15px;
  }
}

@media (max-width: 740px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    .widget {
      width: 100%;
    }
    .outlet-product {
      width: 100%;
      margin-left: 0;
    }
  }
}
