.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 94px);
  margin-top: 94px;

  // .widget,
  // .outlet-product {
  //   padding: 0 15px;
  // }

  .widget {
    width: 270px;
    height: calc(100vh - 97px);
    margin-right: 15px;
  }

  .outlet-product {
    width: calc(100% - 270px);
    height: calc(100vh - 97px);
    margin-left: 15px;
  }
}
