.slider {
  position: relative;

  &__image {
    width: 100%;
    height: 456px;
  }

  &__title {
    position: absolute;
    bottom: 15%;
    left: 40px;
    font-size: var(--text-huge);
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-white);
  }

  &__btn {
    position: absolute;
    bottom: 5%;
    left: 40px;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--color-orange);
    font-size: var(--text-medium);
    color: var(--color-white);
    font-weight: 500;
    border: none;
  }
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 65px;
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: 65px;
  z-index: 1000;
}

@media (max-width: 740px) {
  .slider {
    position: relative;
    margin-bottom: 14px;

    &__image {
      width: 100%;
      height: 207px;
    }

    &__title {
      font-size: var(--text-semi-large);
      bottom: 20%;
    }

    &__btn {
      padding: 3px 10px;
      border-radius: 25px;
      background-color: none;
      font-size: var(--text-small);
      color: var(--color-white);
      font-weight: 400;
      border: none;
    }
  }
}
