.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .menu-label {
    display: block;
    width: 100%;
    color: var(--color-text);
    font-size: var(--text-semi-large);
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  &:hover {
    background-color: var(--color-bg-second);
    .menu-icon {
      &::before,
      &::after {
        background-color: var(--color-text);
      }
    }
  }
  .menu-icon {
    position: relative;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--color-primary);
      transition: 0.3s;
    }

    &::before {
      width: 10px;
      height: 2px;
    }

    &::after {
      top: -4px;
      left: 4px;
      width: 2px;
      height: 10px;
    }
  }
}

.accordion-active {
  .menu-header {
    background-color: var(--color-bg-second);
  }

  .menu-icon {
    &::after {
      transform: rotate(90deg);
    }
  }
}
