@media only screen and (max-width: 1230px) {
  /* For desktop: */
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    width: 100%;
  }
}
