@import './variables';

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 740px) {
  /* For mobile phones: */
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
}
