@import './variables';
@import './normalize';

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .wrapper {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 740px) {
  /* For mobile phones: */
  .wrapper {
    padding: 0 15px;
    margin: 0 auto;
  }
}
