.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 114px;
  background-color: var(--color-white);
  z-index: var(--z-index-latest);
}

.header-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.header-dropdown {
  display: flex;
  margin-left: 22px;
}

.header-language {
  margin-left: 10px;
}
.header-search {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 56px;
  border: 2px solid var(--color-border);
}

.header-search__options {
  text-transform: uppercase;
  background-color: var(--color-white);
  padding: 15px 17px 11px 20px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: var(--color-text);
  text-align: left;
  border-right: 1px solid var(--color-border);
}

.header-search__input {
  display: flex;
  width: 400px;

  .header-search__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -15px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 5px 7px;
    color: var(--color-text);
    z-index: var(--z-index-200);
  }
}

.header-links {
  margin-left: 80px;
  padding-top: 3px;
  text-transform: uppercase;
  font-size: 13px;
  .header-links__signin,
  .header-links__cart {
    margin-right: 20px;
    color: var(--color-primary);
    &:hover {
      color: var(--color-text);
      font-weight: 600;
    }
  }

  &:hover {
    color: var(--color-text);
  }

  .cart {
    margin-left: 23px;
  }
}

.header-cart {
  display: flex;
  margin-left: 15px;
  cursor: pointer;
}

.header-sidemenu {
  margin-top: 5px;
  margin-left: 15px;
  color: var(--color-text);
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--color-orange);
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 94px;
  }
}

// Mobile

@media (max-width: 740px) {
  .header {
    height: 68px;
    justify-content: space-around;
  }

  .header-dropdown,
  .header-search,
  .header-links {
    display: none;
  }
}
