.banner {
  display: flex;
  width: 100%;
  height: 210px;
  margin-bottom: 57px;

  &-heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 100%;
    background-color: var(--color-bg-banner);
    color: var(--color-light-grey);
    p {
      margin-bottom: 4px;
      color: var(--color-light-grey);
      font-size: var(--text-semi-large);
    }

    &__title {
      font-size: var(--text-huge);
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__price {
      font-size: var(--text-medium);
      color: var(--color-light-grey);

      .price-new,
      .price-old {
        color: var(--color-light-grey);
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .price-new {
        font-size: var(--text-semi-huge);
        font-weight: 500;
      }

      .price-old {
        font-size: var(--text-semi-large);
        text-decoration-line: line-through;
      }
    }
    &__book {
      position: absolute;
      bottom: 25px;
      color: var(--color-light-grey);
      text-transform: uppercase;
      text-decoration-line: underline;
    }
  }

  &-image {
    width: calc(100% - 270px);
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
