.selling-product {
  display: flex;
  width: 100%;
  height: 295px;
  margin-bottom: 57px;
}

//
// ────────────────────────────────────────────────────── I ──────────
//   :::::: P R O D U C T  S E L L E R: :  :   :    :     :        :          :
// ────────────────────────────────────────────────────────────────
//
.product-seller {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: calc(100% / 3);
  // padding: 0 15px;

  &__heading {
    font-size: var(--text-semi-huge);
    font-weight: 500;
    color: var(--color-text);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__body {
  }
}

//
// ────────────────────────────────────────────────────── I ──────────
//   :::::: B E S T   S E L L E R    P R O D U C T : :  :   :    :     :        :          :
// ────────────────────────────────────────────────────────────────
//

.selling-item {
  display: flex;
  margin-bottom: 38px;
  width: 100%;

  &-img {
    width: 97px;
    height: 87px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--color-border);
  }

  &-description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    width: calc(100% - 100px);
    .rate {
      margin-bottom: 4px;
    }
    .name {
      font-size: var(--text-semi-large);
      color: var(--color-primary);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .price {
      color: var(--color-quite-grey);
      margin-top: 10px;
      font-weight: 500;
    }
  }
}

//
// ────────────────────────────────────────────────────── I ──────────
//   :::::: W A N T E D    P R O D U C T : :  :   :    :     :        :          :
// ────────────────────────────────────────────────────────────────
//

.wanted-product {
  width: calc(100% / 3);
  &__title {
    font-size: var(--text-semi-huge);
    font-weight: 500;
    color: var(--color-text);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.wanted-banner {
  position: relative;
}

.wanted-banner-content {
  position: absolute;
  right: 32px;
  top: 14px;
  z-index: var(--z-index-400);
  width: 92px;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;

  .title,
  .sale {
    color: var(--color-orange);
    text-transform: uppercase;
  }
  .title {
    font-size: var(--text-large);
    // font-weight: 300;
  }

  .sale {
    font-size: var(--text-huge);
    // font-weight: 400;
  }
}
